# Ignore local dependency directories
node_modules/

# Ignore local environment secrets
.env
.env.*
!.env.docker

# Ignore Docker configurations themselves
Dockerfile
docker-compose*.yml
.dockerignore

# Ignore documentation and Git files
.git
.gitignore
*.md

# Ignore logs
logs/
*.log
npm-debug.log*
